In [1]:
import pandas as pd

df = pd.read_csv("healthcare_dataset.csv")

df.head()
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood_Type          55500 non-null  object
 4   Medical_Condition   55500 non-null  object
 5   Date_of_Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance_Provider  55500 non-null  object
 9   Billing_Amount      55500 non-null  float64
 10  Room_Number         55500 non-null  int64
 11  Admission_Type      55500 non-null  object
 12  Discharge_Date      38850 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
 15  Status              55500 non-null  object
dtypes: float64(1), int64(2), object(13)
memory usage: 6.8+ MB

Name                      0
Age                       0
Gender                    0
Blood_Type                0
Medical_Condition         0
Date_of_Admission         0
Doctor                    0
Hospital                  0
Insurance_Provider        0
Billing_Amount            0
Room_Number               0
Admission_Type            0
Discharge_Date        16650
Medication                0
Test Results              0
Status                    0
dtype: int64

In [2]:
df = df.drop_duplicates()

In [3]:
df["Date_of_Admission"] = pd.to_datetime(df["Date_of_Admission"], dayfirst=True, errors="coerce")
df["Discharge_Date"] = pd.to_datetime(df["Discharge_Date"], dayfirst=True, errors="coerce")

In [4]:
df["Length_of_Stay"] = (df["Discharge_Date"] - df["Date_of_Admission"]).dt.days

In [5]:
text_cols = ["Name","Doctor","Hospital","Gender","Admission_Type",
             "Medical_Condition","Insurance_Provider","Medication"]

for col in text_cols:
    df[col] = df[col].astype(str).str.strip().str.title()

In [6]:
df["Gender"] = df["Gender"].replace({"M":"Male","F":"Female","male":"Male","female":"Female"})

In [7]:
df["Billing_Amount"] = pd.to_numeric(df["Billing_Amount"], errors="coerce")
df["Billing_Amount"] = df["Billing_Amount"].fillna(df["Billing_Amount"].median())

In [8]:
df["Date_of_Admission"] = pd.to_datetime(
    df["Date_of_Admission"], format="%Y-%m-%d", errors="coerce"
)
df["Discharge_Date"] = pd.to_datetime(
    df["Discharge_Date"], format="%Y-%m-%d", errors="coerce"
)

In [9]:
df["Billing_Amount"] = df["Billing_Amount"].round(2)

In [10]:
df.to_csv("healthcare_dataset_cleaned_file.csv", index=False)